
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header('Latest Posts')"></head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div th:each="post : ${postList}">
    <h1 th:text = "${post.title}"></h1>
    <p th:text = "${post.body}"></p>
    <p th:text = "${post.user.email}"></p>
    <div sec:authorize = "isAuthenticated()">
        <div th:if="${user.id == post.user.id}">
            <a th:href="@{|/posts/${post.id}/edit|}"><button>Edit Post</button></a>
            <a th:href="@{|/posts/${post.id}/delete|}"><button>Delete Post</button></a>
        </div>
    </div>
</div>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>