
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Viewing Post</title>
</head>
<body>
<div th:each="post : ${postList}">
    <h1 th:text = "${post.title}"></h1>
    <p th:text = "${post.body}"></p>
    <p th:text = "${post.user.email}"></p>
<!--    <div sec:authorize access="isAuthenticated()">-->
        <div th:if="${user.id == post.user.id}">
            <a th:href="@{|/posts/${post.id}/edit|}"><button>Edit Post</button></a>
            <a th:href="@{|/posts/${post.id}/delete|}"><button>Delete Post</button></a>
        </div>
<!--    </div>-->
</div>
</body>
</html>