<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header(title = 'Update Post')"></head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<form action="/posts/update" method="post">
    <label for="post-id">Post Id to Update:</label><br>
    <input type="text" id="post-id" name="id" value="1"><br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="Cats with Lemons"><br>
    <label for="body">Body:</label><br>
    <input type="text" id="body" name="body" value='Cats fight bad guys using lemons.'><br><br>
    <input type="submit" value="Submit">
</form>
<div th:replace="fragments/body-scripts.html :: body-scripts"></div>
</body>
</html>