<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<h1>Welcome to roll a die!</h1>
<h2>
    Roll a die!
</h2>
<h3 class="die-roll" id="die-rolled-1">Click here to guess that the die landed on <a href="/roll-dice/1">1</a>!</h3>
<h3 class="die-roll" id="die-rolled-2">Click here to guess that the die landed on <a href="/roll-dice/2">2</a>!</h3>
<h3 class="die-roll" id="die-rolled-3">Click here to guess that the die landed on <a href="/roll-dice/3">3</a>!</h3>
<h3 class="die-roll" id="die-rolled-4">Click here to guess that the die landed on <a href="/roll-dice/4">4</a>!</h3>
<h3 class="die-roll" id="die-rolled-5">Click here to guess that the die landed on <a href="/roll-dice/5">5</a>!</h3>
<h3 class="die-roll" id="die-rolled-6">Click here to guess that the die landed on <a href="/roll-dice/6">6</a>!</h3>
<div>
    ----------------------------------------------------------------------
</div>
<h2>
    Roll multiple dice!
</h2>
<h3 class="die-roll" id="dice-rolled-1">Click here to guess that the majority of dice landed on <a href="/roll-dice/multi/1">1</a>!</h3>
<h3 class="die-roll" id="dice-rolled-2">Click here to guess that the majority of dice landed on <a href="/roll-dice/multi/2">2</a>!</h3>
<h3 class="die-roll" id="dice-rolled-3">Click here to guess that the majority of dice landed on <a href="/roll-dice/multi/3">3</a>!</h3>
<h3 class="die-roll" id="dice-rolled-4">Click here to guess that the majority of dice landed on <a href="/roll-dice/multi/4">4</a>!</h3>
<h3 class="die-roll" id="dice-rolled-5">Click here to guess that the majority of dice landed on <a href="/roll-dice/multi/5">5</a>!</h3>
<h3 class="die-roll" id="dice-rolled-6">Click here to guess that the majority of dice landed on <a href="/roll-dice/multi/6">6</a>!</h3>

</body>
</html>