<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<h1>Welcome to roll a die!</h1>

<h2 class="die-roll" id="die-rolled-1">Click here to guess that the die landed on <a href="/roll-dice/1">1</a>!</h2>
<h2 class="die-roll" id="die-rolled-2">Click here to guess that the die landed on <a href="/roll-dice/2">2</a>!</h2>
<h2 class="die-roll" id="die-rolled-3">Click here to guess that the die landed on <a href="/roll-dice/3">3</a>!</h2>
<h2 class="die-roll" id="die-rolled-4">Click here to guess that the die landed on <a href="/roll-dice/4">4</a>!</h2>
<h2 class="die-roll" id="die-rolled-5">Click here to guess that the die landed on <a href="/roll-dice/5">5</a>!</h2>
<h2 class="die-roll" id="die-rolled-6">Click here to guess that the die landed on <a href="/roll-dice/6">6</a>!</h2>

<h2 class="die-roll" id="die-rolled-1">Click here to guess that the die landed on <a href="/roll-dice/multi/1">1</a>!</h2>
<h2 class="die-roll" id="die-rolled-2">Click here to guess that the die landed on <a href="/roll-dice/multi/2">2</a>!</h2>
<h2 class="die-roll" id="die-rolled-3">Click here to guess that the die landed on <a href="/roll-dice/multi/3">3</a>!</h2>
<h2 class="die-roll" id="die-rolled-4">Click here to guess that the die landed on <a href="/roll-dice/multi/4">4</a>!</h2>
<h2 class="die-roll" id="die-rolled-5">Click here to guess that the die landed on <a href="/roll-dice/multi/5">5</a>!</h2>
<h2 class="die-roll" id="die-rolled-6">Click here to guess that the die landed on <a href="/roll-dice/multi/6">6</a>!</h2>

</body>
</html>